@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
@import "tailwindcss";


/* index.css */

/* Modern animated gradient background */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: #000000;
}

.markdown-body {
  color: #000000; /* gray-200 */
  background: transparent;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: #000000; /* headings white */
}

.markdown-body code {
  background-color: rgba(55, 65, 81, 0.6); /* gray-700/60 */
  color: #facc15; /* yellow-400 */
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-body pre {
  background-color: rgba(31, 41, 55, 0.8); /* gray-800/80 */
  color: #000000; /* gray-100 */
  padding: 12px;
  border-radius: 8px;
}

/* ----------------------------------------------------------------- */

/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* light gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00FF7C, #007755);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00e671, #006644);
}

/* ===== Text Selection ===== */
::selection {
  background: #00FF7C;   /* highlight */
  color: #09332C;        /* dark green text */
}

::-moz-selection {
  background: #00FF7C;
  color: #09332C;
}

.finhelp-footer {
  font-size: 15rem;
}